* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0226297d;
    color: #000000;
    font-size: 1.5rem;
    display: grid;
    gap: 15px;
  }