.searchContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  margin: 20px 0;
}

.input {
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #ddd;
  font-size: 20px;
}

.button {
  padding: 12px 24px;
  background-color: #001a34df;
  color: white;
  border: solid 2px #001a34;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}